.blackBanner {
  background-color: #2d2d2d;
  color: white;
  text-align: center;
  h1 {
    font-size: 60px;
    margin-bottom: 30px;
  }
  h2{
    font-weight: normal;
    span {
      font-size: 27px;
      color: #F24B2F;

    }
  }
}
